server:
  port: 8080
  servlet:
    context-path: /identity

spring:
  datasource:
    url: "jdbc:mysql://localhost:3306/identity_service"
    username: root
    password: root
    driver-class-name: "com.mysql.cj.jdbc.Driver"
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

jwt:
  signerKey: "exg7+9wFSlJbwSEMzHlYFN0rm7wrKFrBR6Hfvy3oeVjffg22y1aUfHXoJT95Pfcj"

app:
  services:
    profile: http://localhost:8081/profile